
:root { font-size: 1em; }

@media (min-width: 30em){
	:root {
		font-size: calc(1em + (1.5 - 1) * ( (100vw - 30em) / ( 80 - 30)));
	}
}
@media (min-width: 80em) {
	:root {
		font-size: 1em;
	}
}

body {
	font:1rem/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#2C2C2C;
	font-weight:400;
	margin:1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font:1rem/1.5 "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000;
	margin:0 0 1.25rem;
	font-weight: 700;
}

p, ul, ol, table, pre, dl {
	margin:0 0 1.25rem;
}

h1, h2, h3 {
	line-height: 1.25;
}

h1 {
	font-size: 2rem;
}

a {
	color:#fe571e;
	font-weight:400;
	text-decoration:none;
}

a small {
	font-size: 0.75rem;
	color:#777;
	display:block;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #333;
	font-size: 1rem;
}

pre {
	padding: 0.5rem 1rem;
	background: #f8f8f8;
	border-radius:5px;
	border:1px solid #e5e5e5;
	overflow-x: auto;
}

ul {
	background: #f8f8f8;
	border-radius:5px;
	border:1px solid #e5e5e5;
	padding: 1rem 2rem;
}
img {
	max-width:100%;
}
.logo {
	max-width: 20rem;
	margin: 0 auto;
}

header {
	margin: 1.25rem 0;
}

strong {
	font-weight:700;
}

section {
	padding-bottom: 3rem;
}

small {
	font-size:0.75rem;
}

hr {
	border:0;
	background:#e5e5e5;
	height:1px;
	margin:0 0 1.25rem;
}

footer {

}

.text-center {
	text-align: center;
}

